- form_for Message.new, :remote => true, :html => {:id => :create_message_form} do |f|
  = f.text_area :body, {:class => 'word_count', :maxlength => 140, :id => "create_message_body"}
  = f.hidden_field :in_reply_to_status_id
  = f.hidden_field :in_reply_to_screen_name
  .clear
  = submit_tag t('console.submit.new_message')
  %span.counter

  = link_to_function 'clear', 'clear_create_form()'
