%h2 Edit message
- form_for message, :url => url_for(:action => 'end_editing', :id => message.id, :controller  => 'messages'), :remote => true do |f|
  = f.text_area :body, {:class => 'word_count', :maxlength => 140, :id => "edit_message_body"}
  .clear
  = submit_tag t('console.submit.edit_message')
  %span.counter

  = link_to 'cancel', {:action => 'end_editing', :id => message.id, :controller => 'messages'}, {:method => :put, :remote => true, :disable_with => 'cancelling...'}