- m = message

%div.msg{:id => dom_id(m), :class => m.state}
  .hat
    %p.state
      - if m.retweet?
        %span.retweet-icon(title='this is a retweet')
      - if m.reply?
        %span.reply-icon(title='this is a reply')

      = humanized_state_of(m)

    %p.origin
      =m.author.login
      %span.age= age_of(m)
  %p.text= m.body
  %p.action
    != button_to_delete(m)
    != button_to_edit(m)     #if m.pending?
    != button_to_approve(m)  #if m.pending?

