%h2 Retweet message
- form_for @message, :remote => true, :html => {:id => 'retweet_message_form'} do |f|
  = f.text_area :body, {:class => 'word_count', :maxlength => 140, :id => "retweet_message_body", :disabled => 'disabled'}
  = f.hidden_field :retweet_source_id
  = f.hidden_field :retweet_source_status_id  
  .clear
  = submit_tag t('console.submit.retweet_message')
  = link_to_function 'cancel', "update_ui_after_cancelling_a_retweet()"

  %span.counter