%div#create_message
  = render :partial => 'messages/create_form'

%div#edit_message
  - if @being_edited_message.present?
    -# also see below for some javascript action
    = render :partial => 'messages/edit_form', :locals => {:message => @being_edited_message}

%div#retweet_message
