%h1 Listing messages

%table
  %tr
    %th Written by
    %th Approved by
    %th Being Edited by
    %th Body
    %th Created at
    %th Blocked at
    %th Approved at
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.created_by
      %td= message.approved_by
      %td= message.being_edited_by
      %td= message.body
      %td= message.created_at
      %td= message.being_edited_at
      %td= message.approved_at
      %td= link_to 'Show', message
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete
