// The update of the individual message is done via websockets.
// -> if the broadcaster is down, it won't take place

$('#edit_message').
        html("<%=escape_javascript(render :partial => 'messages/edit_form', :locals => {:message => @message})%>").
        effect("highlight", {}, 5000);

$('#create_message_form').hide();

<%= disable_the_edit_buttons   %>

$("#edit_message_body").focus();