- st = status
- from_us = st.screen_name == APP_CONFIG['twitter_account']['screen_name']
- from_friend = !from_us
- css_class = from_us ? 'from_us' : 'others'

%div.tweet(data-status-id='#{st.status_id}' data-screen-name='#{st.screen_name}'){:class => css_class}
  .hat
    %p.origin
      @#{st.screen_name}
      %span.age
        =time_ago_in_words(st.status_created_at) + ' ago'

  .box
    - if from_us
      %p.text
        = st.content

    - else
      %span.avatar
        = image_tag st.profile_image_url #, :width => '48px', :height => '48px'
      %p.text
        = st.content

  .shoes
    - if from_us
      &nbsp;
    - if from_friend
      %a.tw_sprite(onclick="init_reply_to(this)")
        %i.retweet-icon
        Reply

      - text = '<i class="retweet-icon"></i>Retweet'.html_safe
      = link_to text, create_retweet_from_messages_path(:status_id => st.status_id), :remote => true, :method => :post, :class => 'tw_sprite'
