@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/dev\/_p\/fitztwit\/app\/stylesheets\/buttons\.sass}line{font-family:\0000319}}
a.button {
  display: inline;
  float: left;
  display: block;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000375}}
a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000362}}
a.button:hover {
  background-color: #dff4ff;
  border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
  color: #336699;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000347}}
a.button:active {
  background-color: #6299c5;
  border-color: #72a9d5 #6299c5 #6299c5 #72a9d5;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/dev\/_p\/fitztwit\/app\/stylesheets\/buttons\.sass}line{font-family:\0000332}}
button {
  display: inline;
  float: left;
  display: block;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000375}}
button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000395}}
button[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000398}}
*:first-child + html button[type] {
  padding: 4px 10px 3px 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000362}}
button:hover {
  background-color: #dff4ff;
  border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
  color: #336699;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000347}}
button:active {
  background-color: #6299c5;
  border-color: #72a9d5 #6299c5 #6299c5 #72a9d5;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/dev\/_p\/fitztwit\/app\/stylesheets\/buttons\.sass}line{font-family:\0000340}}
a.positive, button.positive {
  color: #529214;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000362}}
a.positive:hover, button.positive:hover {
  background-color: #e6efc2;
  border-color: #d6e890 #c6d880 #c6d880 #d6e890;
  color: #529214;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000347}}
a.positive:active, button.positive:active {
  background-color: #529214;
  border-color: #62a224 #529214 #529214 #62a224;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/dev\/_p\/fitztwit\/app\/stylesheets\/buttons\.sass}line{font-family:\0000345}}
a.negative, button.negative {
  color: #d12f19;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000362}}
a.negative:hover, button.negative:hover {
  background-color: #fbe3e4;
  border-color: #ffd2d4 #fbc2c4 #fbc2c4 #ffd2d4;
  color: #d12f19;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_buttons\.scss}line{font-family:\0000347}}
a.negative:active, button.negative:active {
  background-color: #d12f19;
  border-color: #e13f29 #d12f19 #d12f19 #e13f29;
  color: white;
}
