@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000327}}
body a[href^="http:"],
body a[href^="mailto:"],
body a[href^="http:"]:visited,
body a[href$=".pdf"],
body a[href$=".doc"],
body a[href$=".xls"],
body a[href$=".rss"],
body a[href$=".rdf"],
body a[href^="aim:"] {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000328}}
body a[href^="http:"] {
  background-image: url('/images/link_icons/external.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000329}}
body a[href^="mailto:"] {
  background-image: url('/images/link_icons/email.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000330}}
body a[href^="http:"]:visited {
  background-image: url('/images/link_icons/visited.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000331}}
body a[href$=".pdf"] {
  background-image: url('/images/link_icons/pdf.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000332}}
body a[href$=".doc"] {
  background-image: url('/images/link_icons/doc.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000333}}
body a[href$=".xls"] {
  background-image: url('/images/link_icons/xls.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000335}}
body a[href$=".rss"],
body a[href$=".rdf"] {
  background-image: url('/images/link_icons/feed.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_link-icons\.scss}line{font-family:\0000336}}
body a[href^="aim:"] {
  background-image: url('/images/link_icons/im.png?1297444049');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/dev\/_p\/fitztwit\/app\/stylesheets\/link_icons\.sass}line{font-family:\000038}}
body a.noicon {
  background: transparent none !important;
  padding: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aravet\/dev\/_p\/fitztwit\/app\/stylesheets\/link_icons\.sass}line{font-family:\0000312}}
body a#this-is-a-pdf-link {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/pdf.png?1297444049');
}
