@import base/constants_definitions


$topbar_logo_em: $twitter_blue !default

$html_bkg:  $railscast_blue   !default
$body_bkg:  $railscast_blue   !default

$h2_col:    $rails_red         !default
$h2_bkg:    white              !default

$main_container_bkg: white    !default

$header_col: red              !default
$header_bkg: white            !default

$topbar_col: white            !default
$topbar_bkg: black            !default

$submit_forms_bkg: #ffffe0    !default

$approved_hat_state: green    !default


// ------------------------------------------------
// ------ [Approve] / [Edit] / [delete] buttons
// ------------------------------------------------

$btn_enabled_border_col:  #888      !default
$btn_disabled_border_col: white     !default

$btn_disabled_bkg: #eee     !default
$btn_disabled_col: #aaa     !default
$btn_disabled_text_decoration: line-through !default


$btn_approve_bkg: green     !default
$btn_approve_col: white     !default


$btn_edit_bkg:    orange    !default
$btn_edit_col:    white     !default

$btn_cancel_bkg:  red       !default
$btn_cancel_col:  white     !default


$msg_default_col:             black !default
$msg_default_bkg:             #ddd  !default
$msg_default_border_col:      #ccc  !default

$msg_being_edited_col:        red  !default
$msg_being_edited_border_col: #Fbb !default



$msg_hat_origin_col:  #aaa  !default
$msg_hat_origin_bkg:  white !default

$msg_hat_age_col:     #aaa  !default
$msg_hat_age_bkg:     white !default

$msg_hat_state_col:   black !default
$msg_hat_state_bkg:   white !default



$pendings_border_col: #aaa  !default
$pendings_col:        red   !default
$pendings_bkg:        #fff  !default


$approved_border_col: #aaa  !default
$approved_border_col: red
$approved_col:        orange !default
$approved_bkg:        #fff  !default


// ---------------------
// 1 STATUS/TWEET BOX :
// ---------------------

$tweet_hat_age_col:   red    !default
$tweet_box_bkg:       #ddd  !default
$tweet_box_col:       black !default


// Our Tweets :
// -------------

$tweet_hat_from_us_bkg:         black         !default
$tweet_box_from_us_bkg:         white         !default
$tweet_shoes_from_us_bkg:       white         !default

$tweet_hat_from_us_col:         white         !default
$tweet_box_from_us_col:         black         !default
$tweet_shoes_from_us_col:       black         !default

$tweet_from_us_border_col:            black                     !default
$tweet_hat_from_us_border_col:        $tweet_from_us_border_col !default
$tweet_box_from_us_border_col:        $tweet_from_us_border_col !default
$tweet_shoes_from_us_border_col:      $tweet_shoes_from_us_bkg  !default





// Our Friends' Tweets :
// ----------------------

$tweet_hat_from_others_bkg:         lightblue     !default
$tweet_box_from_others_bkg:         white         !default
$tweet_shoes_from_others_bkg:       white         !default

$tweet_hat_from_others_col:         white         !default
$tweet_box_from_others_col:         black         !default
$tweet_shoes_from_others_col:       black         !default

$tweet_from_others_border_col:        black                     !default

$tweet_hat_from_others_border_col:    $tweet_from_us_border_col !default
$tweet_box_from_others_border_col:    $tweet_from_us_border_col !default
$tweet_shoes_from_others_border_col:  #aaa                      !default



$lnk_reply_or_retweet_col: #0084BA !default

//------------------------------------------------------------
//              Blueprint init + config
//------------------------------------------------------------

@import blueprint/reset
@import blueprint
@import blueprint/link-icons
@import blueprint/buttons

$blueprint-grid-columns: 24
$blueprint-container-size: 950px
$blueprint-grid-margin: 10px
$blueprint-grid-margin: 10px
// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

@import compass/css3/border-radius
@import compass/utilities/links/hover-link
@import compass/layout/sticky-footer
@import compass/utilities/general/clearfix



//------------------------------------------------------------

$content-columns: $blueprint-grid-columns


//------------------------------------------------------------
//              Application layout
//------------------------------------------------------------

@import layouts/all


//------------------------------------------------------------
//              Application-wide customisations
//------------------------------------------------------------

body
  #header
    text-align: center
    border-bottom: 1px solid black
  #footer
    text-align: center
    border-top: 1px solid black


form
  +blueprint-form


body
  background: $railscast_blue
  #main, #header
    background: white

//------------------------------------------------------------
//              actions/controllers-wide customisations
//------------------------------------------------------------
@import home/all
@import console/all

