%h2 Show latest tweets from the db

- form_tag "tweets/latest", :method => :get do
  .field
    = label_tag :screen_name
    = text_field_tag :screen_name
  = submit_tag "Show latest tweets"

%h1 Tweets