#topbar
  height: 40px

  #left
    // +column($blueprint-grid-columns/3)
    +column(10)
  #middle
    //+column($blueprint-grid-columns/3)
    +column(4)

  #right
    //+column($blueprint-grid-columns/3, true)
    +column(10, true)




#topbar

  color:      $topbar_col
  background: $topbar_bkg


  #left
    text-align: left
    font-size: 1.2em
    #logo
      position: relative
      left: 10px
      display: inline
      font-weight: bold
      font-size: 1.5em
      em
        color: $topbar_logo_em


  #middle
    text-align: center
    font-size: 1.5em

  #right
    text-align: right
    font-size: 1.2em
