div.msg
  .hat

    p.origin
      font-weight: bold
      margin-bottom: 0
      padding-left: 8px
      color:      $msg_hat_origin_col
      background: $msg_hat_origin_bkg

      span.age
        background: $msg_hat_age_bkg
        color:      $msg_hat_age_col
    p.state
      display: inline
      float: right
      position: relative
      right: 1em
      color:      $msg_hat_state_col
      background: $msg_hat_state_bkg

  .box
    text-align: top

  p.text
    margin-bottom: 5px
    padding: 4px 8px
    font-size: 1.2em
    +border-radius(5px)
    background: $msg_default_bkg
    color:      $msg_default_col
    border: 2px solid $msg_default_border_col
    text-align: top

  p.action
    text-align: right
    +clearfix

    a, del
      padding: 4px 8px
      +border-radius(4px)
      Xfont-size: 1.1em
      font-weight: bold

      float: right
      text-align: center
      margin-left: 0.3em
      width: 4em
    a
      +hover-link
      background: lightyellow

    a.approve
      color:      $btn_approve_col
      background: $btn_approve_bkg

    a.edit
      background: $btn_edit_bkg
      color:      $btn_edit_col
    a.cancel
      background: $btn_cancel_bkg
      color:      $btn_cancel_col

    del
      background:       $btn_disabled_bkg
      color:            $btn_disabled_col
      text-decoration:  $btn_disabled_text_decoration


div.msg.being_edited
  p.text
    color:        $msg_being_edited_col
    border-color: msg_being_edited_border_col
