$tweet_hpad: 8px
$tweet_xoffset: (40px - $tweet_hpad )/2
body#console_index

  div.tweet
    margin-bottom: 7px
    position: relative
    left: $tweet_xoffset

    +column(11,true)

    .hat
      padding: 2px 8px 0
      border: 1px solid orange
      +border-radius(5px 6px 0 0)


      .origin
        font-weight: bold
        margin-bottom:  0
        padding-left:   8px

    .box
      +clearfix

      border-left:  1px solid orange
      border-right: 1px solid orange

      .avatar
        img
          width:  $avatar-width
          height: $avatar-height
      .text
        font-size: 1
        padding: 2px 8px
        margin: 0


    .shoes
      padding: 0 8px 2px 
      border:         solid 1px orange
      border-top: 1px solid     orange
      +border-radius(0 0 6px 6px)







    &.tweet.others
      border-color: $tweet_from_others_border_col

      .hat
        background: $tweet_hat_from_others_bkg
        color:      $tweet_hat_from_others_col
        border-color:        $tweet_from_others_border_col
        border-bottom-color: $tweet_hat_from_others_border_col
        .origin
          span.age
            color: $tweet_hat_age_col

      .box
        border-color: $tweet_from_others_border_col
        background: $tweet_box_from_others_bkg
        color:      $tweet_box_from_others_col


        .avatar
          +column(1)
          display: block
        .text
          


      .shoes
        border-color:        $tweet_from_others_border_col
        border-top-color: $tweet_shoes_from_others_border_col
        background: $tweet_shoes_from_others_bkg
        color:      $tweet_shoes_from_others_col

        text-align: right



    &.tweet.from_us
      border-color: $tweet_from_us_border_col
      .hat
        background: $tweet_hat_from_us_bkg
        color:      $tweet_hat_from_us_col
        text-align: right
        border-color:        $tweet_from_us_border_col
        border-bottom-color: $tweet_hat_from_us_border_col

        .origin
          span.age
            color: $tweet_hat_age_col

      .box
        background: $tweet_box_from_us_bkg
        color:      $tweet_box_from_us_col
        border-color: $tweet_from_others_border_col

      .text
        text-align: right
        margin: 0


      .shoes
        height: 6px
        background: $tweet_shoes_from_us_bkg
        color:      $tweet_shoes_from_us_col
        border-color:       $tweet_from_us_border_col
        border-top-color:   $tweet_shoes_from_us_border_col
        border-top: none  // use this if the top border is invisible (same color as bkg)



div.tweet.others
  .shoes a
    Xbackground: orange !important
    visibility: hidden !important

div.tweet.others:hover
  .shoes a
    visibility: visible !important
    Xbackground: pink !important

