body

  background: $body_bkg

  #main.container
    background: $main_container_bkg


  h2
    margin-bottom: 0

  #header
    padding-top: 3px
    padding-bottom: 3px
    text-align: center
    background: $header_bkg
    color:      $header_col
    *
      display: inline
    #left, #middle
      +column($content-columns/3)
    #right
      +column($content-columns/3, true)


  #col1
    +column($content-columns/2)
  #col2
    +column($content-columns/2, true)
    background: #eee


  #main
    #submit_forms
      +column($content-columns, true)
      div
        form
          +prepend(3+2)
          +column(14, true)
          +append(3+2)

          textarea
            +column(14)

      #edit_message
        background: orange

      #create_message


    h2.pendings, h2.approved, h2.statuses
      color:      $h2_col
      background: $h2_bkg

    #pendings
      padding: 10px
      Xborder-left: 1px solid $pendings_border_col
      color:      $pendings_col
      background: $pendings_bkg


    #approved
      +column(12, true)
      border-left: 1px solid $approved_border_col
      color:      $approved_col
      background: $approved_bkg



body#console_index

  h2
    text-align: center

  #main
    #submit_forms
      margin-bottom: 1em
      padding-bottom: 0.5em
      border-bottom: 1px solid black
      background: $submit_forms_bkg


      div
        //+nowrap
        form
          textarea
            height: 3em

          span.counter
            float: right

  #col1
    position: relative
    #last_fetched_at
      color: #ccc
      display: inline
      position: absolute
      top: -1em
      right: 1em

  #approved
    .hat
      .state
        color: $approved_hat_state


a.tw_sprite
  text-decoration: none
  color: $lnk_reply_or_retweet_col !important
  font-weight: bold

  span.text

.favorite-icon, .retweet-icon, .reply-icon
  margin: 0 2px -1px
  background: url("../images/sprite-icons.png") no-repeat scroll 0 0 white
  display: inline-block
  height: 14px
  width: 14px

  position: relative
  bottom: -4px
  right: 2px

.retweet-icon, .reply-icon
  height: 12px
  padding-bottom: 5px


.favorite-icon
  background-position: -32px 0
  padding-bottom: 4px

.retweet-icon
  background-position: -176px 0
  padding-bottom: 4px
  xbottom: -4px

.reply-icon
  background-position: 0px 0
  padding-bottom: 4px
  xbottom: -4px


a.tw_sprite:hover
  text-decoration: underline

  .favorite-icon
    background-position: -48px 0
  .retweet-icon
    background-position: -192px 0
  .reply-icon
    background-position: -16px 0






@import console/_status
@import console/_message
