$("#retweet_message").
        html("<%=raw escape_javascript(render :partial => 'messages/retweet_form', :locals => {:message => @message}) %> ") ;
$("#retweet_message").show();

$('#create_message_form'  ).hide();
$('.action a.edit').hide();
