- @title ||= 'FitzTwit Console'

- content_for :header do
  - if !Rails.env.development?
    #left
      =button_to 'tmp:import timeline changes', {:action => :import_timeline_changes}, {:remote => true, :disable_with => 'importing...'}
    #middle
      &nbsp;
    #right
      = button_to "tmp[Tweet approved msgs]", {:action => 'tweet_all_approved'  },{:disable_with => 'tweeting...'}
      = button_to "dev:inject fake msgs"    , {:action => 'inject_fake_messages'},{:disable_with => 'injecting...'}

  - else
    #left
    #middle
    #right


#submit_forms
  = render :partial => 'messages/submit_forms'


#col1
  #statuses_container
    %span#last_fetched_at(title='last UI refresh') ..

    #statuses(data-fetched_at="#{Time.now.to_i}")
      = render @timeline_2    # -> statuses/_status.html.haml



#col2
  #pendings_container
    %h2.pendings= t('console.h2_non_approved')

    #pendings
      = render @non_approved_messages


  #approved_container
    %h2.approved= t('console.h2_approved')

    #approved(data-fetched_at="#{Time.now.to_i}")
      = render @approved_messages

- content_for :javascript_asap do
  :javascript
    $(document).ready(function(){
      APP_CONFIG = JSON.parse('#{APP_CONFIG.to_json}')

      init_websocket_stuff();
      start_listening_to_heartbeats();
    })


- if @being_edited_message.present?
  - content_for :javascript_asap do
    :javascript
      $(document).ready(function(){
        $('#create_message_form').hide();
        $('.action a.edit').hide()
        $("#edit_message_body").focus();
      })
