%h2 Sprite

= image_tag 'sprite-icons.png', :style => 'border: 1px black solid;margin:0 auto;display:block;width:736px;height:288px'


%hr
%a.sprite(href="")
  %i.favorite-icon
  Favorite

%a.sprite(href="")
  %i.reply-icon
  Reply

%a.sprite(href="")
  %i.retweet-icon
  Retweet


%style
  :sass

    a.sprite
      text-decoration: none
      color: #0084BA !important
      font-weight: bold

      span.text


    a.sprite
      .favorite-icon, .retweet-icon, .reply-icon
        margin: 0 2px -1px
        background: url("../images/sprite-icons.png") no-repeat scroll 0 0 white
        display: inline-block
        height: 14px
        width: 14px

        position: relative
        bottom: -4px
        right: 2px

      .retweet-icon, .reply-icon
        height: 12px
        padding-bottom: 5px


      .favorite-icon
        background-position: -32px 0
        padding-bottom: 4px

      .retweet-icon
        background-position: -176px 0
        padding-bottom: 4px
        xbottom: -4px

      .reply-icon
        background-position: 0px 0
        padding-bottom: 4px
        xbottom: -4px


    a.sprite:hover
      text-decoration: underline

      .favorite-icon
        background-position: -48px 0
      .retweet-icon
        background-position: -192px 0
      .reply-icon
        background-position: -16px 0
