<% if @no_new_data %>
  $("#last_fetched_at").html("<%= Time.now.to_s(:just_the_time_with_seconds) %>");
<% else %>
  $("#statuses").html("<%=raw escape_javascript(render @timeline_2) %> ") ;
  $("#last_fetched_at").html("<%= Time.now.to_s(:just_the_time_with_seconds) %>(+)");
<% end %>