#left
  #logo <em>@</em>Fitzdares


#middle
  = topbar_title


#right
  %p.user_info
    - if current_user
      you are
      %span.user_id
        =# current_user.login
        = select_tag 'login', options_for_users(User.all, current_user).html_safe, :id => 'logins'
    - else
      Not logged in



- content_for :javascript_asap do
  :javascript
    $(document).ready(function() {
      $('#logins').change(function() {
        var str = "";
        $("select option:selected").each(function () {
              str += $(this).text() + " ";
              href =  $(this).attr('value');
              $('#logins').remove();
              window.location = href ;
            });
        //#alert(str)
      });
    })
