!!!
%html
  %head
    %title= title
    = stylesheet_link_tag current_theme
    = csrf_meta_tag

  %body(id="#{body_id}" class="#{body_classes}")
    #topbar
      = render  '/layouts/topbar'

    #header.container
      - unless 'console_index'==body_id
        %h1= link_to 'FitzTwit Console', '/console'
      = yield :header

    #main.container
      #content
        = yield
        %hr

        - unless flash.empty?
          #flash= flash.inspect


      #layout_footer

    #footer
      = link_to 'switch themes', 'toggle_theme', :title => "current theme is #{current_theme}"

      #heartbeat_msg{:Xstyle => diplay_none_unless(Rails.env.development?)}



    -# ------------------------------------------------------
    -# OPTIM : KEEP ALL JAVASCRIPT AT THE BOTTOM OF THE PAGE :
    -# ------------------------------------------------------

    = javascript_include_tag js_files, :cache => true

    = yield :javascript_asap